.MiniGame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.CellMiniGameCol {
    display: flex;
    flex-direction: column;
}


.CellMiniGameRow {
    display: flex;
    flex-direction: row;
}
.CellMiniGameRow.middle {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}


.CellMiniGameCenter {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}