.MiniGame {
    display: flex;
    align-items: center;
    justify-content: center;
}
.CellMiniGameCol {
    display: flex;
    flex-direction: column;
}


.CellMiniGameRow {
    display: flex;
    flex-direction: row;
}
.CellMiniGameRow.middle {
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}


.CellMiniGameCenter {
    border-left: 1px solid rgba(0, 0, 0, 0.20);
    border-right: 1px solid rgba(0, 0, 0, 0.20);
}

.BrushBackground > div { opacity: 0; transition: 0.45s; transition-delay: 0.45s }
.XBrushBackground { background-image: url('../assets/XBrushBackground.svg') }
.OBrushBackground { background-image: url('../assets/OBrushBackground.svg') }
.NBrushBackground { background-image: url('../assets/NBrushBackground.svg') }