.SuperGame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


.CellSuperGameCol {
    display: flex;
    flex-direction: column;
}


.CellSuperGameRow {
    display: flex;
    flex-direction: row;
}
.CellSuperGameRow.middle {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}


.CellSuperGame {
    display: flex;
    align-items: center;
    justify-content: center;
}
.CellSuperGameCenter {
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.TopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}
.TopBar > div {
    display: flex;
    flex-direction: row;
}

.PlayerTurn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
    border: 2px;
    border-style: solid;
    padding: 0px 21px;
    border-radius: 3px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 27px;
}

.PlayerTurn > div {
    margin: 3px;
}
.PlayerTurn > div:last-child {
    width: 20px;
    margin-right: -5px;
    text-align: center;
}

.BackgroundImg {
    background-color: rgba(255,255,255, 0.3);
    background-blend-mode: lighten;    background-image: url(../assets/Background.png);
}