.NeonButton {
    position: relative;
    background: #444;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
    border-radius: 3px;
    font-weight: 600;
}
  
.NeonButton.hover:hover {
    /* letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem; */
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: NeonButtonBox 3s infinite;
  }
  
.NeonButton::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #eee;
}
  
.NeonButton span {
    position: relative;
    z-index: 1;
}
.NeonButton i {
    position: absolute;
    inset: 0;
    display: block;
}
  
.NeonButton i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #fff;
    transition: 0.2s;
}
  
.NeonButton.hover:hover i::before {
    width: 15px;
    left: 20%; 
    animation: NeonButtonMove 3s infinite;
  }
  
.NeonButton i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #fff;
    transition: 0.2s;
  }
  
.NeonButton.hover:hover i::after {
    width: 15px;
    left: 80%;
    animation: NeonButtonMove 3s infinite;
  }
  
@keyframes NeonButtonMove {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
  
/* @keyframes NeonButtonBox {
    0% {
        box-shadow: #27272c;
    }
    50% {
        box-shadow: 0 0 25px var(--clr);
    }
    100% {
        box-shadow: #27272c;
    }
  } */
  