.OBrushPath { 
    fill: none;
    stroke: #e91e63; 
    stroke-width: 3800px;
    stroke-dasharray: 30000;
    stroke-dashoffset: 30000;
}

@keyframes OBrushVisibleAnimation {
    from { stroke-dashoffset: 30000; }
    to { stroke-dashoffset: 0; }
}

@keyframes OBrushHiddenAnimation {
    from { stroke-dashoffset: 0; }
    to { stroke-dashoffset: 30000; }
}

.OBrushVisible { animation: OBrushVisibleAnimation 0.5s linear forwards; }
.OBrushHidden { animation: OBrushHiddenAnimation 0.5s linear forwards; }

