.XBrushPath { 
    fill: none;
    stroke: rgb(250,0,0); 
    stroke-width: 3800px;
    stroke-dasharray: 30000;
}

@keyframes XBrushVisibleAnimation {
    from { stroke-dashoffset: 30000; }
    to { stroke-dashoffset: 0; }
}

@keyframes XBrushHiddenAnimation {
    from { stroke-dashoffset: 0; }
    to { stroke-dashoffset: 30000; }
}

.XBrushVisible { animation: XBrushVisibleAnimation 0.4s linear forwards; }
.XBrushHidden { animation: XBrushHiddenAnimation 0.4s linear forwards; }
